.location {
  display: flex;
  & > .info {
    width: 40%;
    text-align: center;
    & h3 {
      font-weight: bold;
    }
    & p {
      font-size: 24px;
      margin: initial;
    }
  }
  & > .gMap {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .location {
    flex-direction: column;
    align-content: center;
    & > .info {
      width: 84vw;
    }
    & > .gMap {
      width: 84vw;
      padding-top: 14px;
    }
  }
}
