.courseCell {
  font-size: 16px;
  white-space: normal;
  padding: 12px 0;
}
.courseTable {
  & th {
    font-size: 18px !important;
  }
  & td {
    overflow: visible !important;
  }
}
.campHeader {
  cursor: pointer;
}

.icon {
  border-radius: 50%;
}

.registerLink {
  width: 330px;
  text-align: center;
  margin-bottom: 40px;
  & > .icon {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    & > img {
      width: 80%;
      margin: auto;
    }
  }
  & > p {
    width: 80%;
    margin: auto;
    font-size: 18px;
    min-height: 100px;
  }
}

.campMainContent {
  text-align: center;
  width: 80%;
  margin: auto;
}

.schoolProgramsMainContent {
  text-align: center;
  width: 80%;
  margin: auto;
}

.eveningRegisterMainContent {
  text-align: center;
  width: 80%;
  margin: auto;
}

.eveningRegisterWrapper {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

.tabsWrapper div div:first {
  flex-wrap: wrap;
}

.tabsWrapper div div:first button {
    width: 100% !important;
}

@media screen and (max-width: 768px) {
  .noCourseText {
    font-size: 14px;
  }
  .campMainContent {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .schoolProgramsMainContent {
    width: 100%;
  }
  .eveningRegisterMainContent {
    width: 100%;
  }
  .eveningRegisterWrapper {
    width: 94%;
  }
}

.mobileCoursesWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.coursePaper {
  margin: 10px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  min-height: 100px;
  font-size: 16px;
  text-align: center;
}

.coursePaperContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coursePaperRow {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
}

.coursePaperRowHeader {
  width: 38%;
  text-align: right;
  font-weight: 700;
  font-size: 12px;
}
.coursePaperRowContent {
  width: 62%;
  text-align: left;
  padding-left: 12px;
}

.mobileCourseCell {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > div {
      white-space: normal;
    }
  }
}
