.primaryBtn {
    color: white;
    background: #11B2B3;
    text-transform: capitalize;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: 600;
    border: 2px solid #11B2B3;
    border-left-color: #2BCCCD;
    border-top-color: #2BCCCD;
    border-radius: 18px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
  .primaryBtn {
    font-size: 30px;
  }
}

.linkBtn {
  outline: none;
  color: rgb(0, 126, 198);
  text-decoration: none;
  &:active {
    outline: none;
    color: rgb(0, 126, 198);
    text-decoration: none;
  }
}
